{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

<!-- Extending the head links -->
{% block head%}
<link rel="stylesheet" href="{% static 'users/css/login-style.css' %}">
{% endblock head%}

<!-- Main Content -->
{% block content %}
    <div class="container">
        <!-- Sign in container -->
        <div class="login-container">
            <header>
                <h1 class="display-5 text-center">Choose New Password</h1>
            </header>
            <div class="form-div mt-5">
                <form method="post" action="{% url 'users-login' %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary change-btn">Change password</button>
                    <input type="hidden" name="next" value="{{ next }}">
                </form>
            </div>
        </div>
    </div>
{% endblock %}