* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.login-container {
    width: 40%;
    margin: 2rem auto;
}

.login-container img {
    width: 24rem;
    height: 16rem;
    margin: auto;
    margin-bottom: 1.4rem;
    position: relative;
    left: 5rem;
}

.form-div {
    width: 70%;
    margin: auto;
}

.login-container form {
    display: inline;
}

.login-container form button.login-btn {
    margin: 1rem 0rem;
    border: none;
    font-size: 1rem;
    height: 2.9rem;
    width: 8rem;
    font-weight: 500;
    font-family: VarelaRound;
    color: white;
}

.register-link:hover, .forgot-link:hover {
    color: #54585ce0;
}

.login-container .form-div form button.change-btn {
    width: 100%;
    margin-top: 1rem;
}

.register-link, .forgot-link {
    transition: .5s all ease;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    margin-left: 0.8rem;
    color: #119e0ce0;
}

.forgot-link {
    vertical-align: -12px;
}
